.carrousel-item{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
}

/* 
*/

/* 
.carrousel-img {
    height: auto;
    border-radius: 30px;
} 
*/

/* .carrousel-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
*/

/* .carrousel-description{
    margin: 40px 0 40px 0;
}
*/