.trending-movies {
  #div-header{
    @media (min-width: 0px) and (max-width: 480px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 481px) and (max-width:768px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }        
  }
  .swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: 0px) and (max-width: 480px){
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 calc(25% - 20px);
      margin-right: 20px;

      .swiper-movie-poster {
        position: relative;
      }
      
      .swiper-movie-poster img {
        width: 100%;
        max-width: 300px;
        height: auto;

        @media (min-width: 0px) and (max-width: 480px){
          width: 100%;
          max-width: 300px;
          height: auto;
        }
      }
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .swiper-movie-poster:hover .overlay {
        opacity: 1;
        visibility: visible;
      }
      
    }
  }
}



