.wrapper{
    height: 30vw;
    width: 95vw;
    background-color: black;
    margin-bottom: 5vh;
}

#home-wrapper{
    background: #6E171B;
}

.first-carrouse{
    margin-bottom: 2vh;
    overflow-x: hidden;
}