.wrapper{
    height: 30vw;
    width: 95vw;
    background-color: black;
    margin-bottom: 5vh;
}

#home-wrapper{
    background: #6E171B;
}

.first-carrouse{
    margin-bottom: 2vh;
    overflow-x: hidden;
}

@media (min-width: 0px) and (max-width: 480px){
    #home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home-container h1{
        font-size: 1rem;
    }
}