/* .carrousel{
    display: flex;
    justify-content: center;
    /* overflow: hidden;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
*/

/* .inner{
    position: relative;
    width: 900px;
    height: 400px;
    overflow: hidden;
    /* display: inline-block;
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); 
*/

/* .carrousel-item{
    height: 50vh;
    width: auto;
    padding: 0 20px 0 20px;
}
*/

/* 
.carrousel-buttons{
    display: flex;
    justify-content: space-evenly;
}

.button-arrow{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
} */