.carrousel{
    height: 55vh;
    width: 70vw;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    transition: 2s ease-in-out;
}

@media (min-width: 0px) and (max-width: 480px){
    .carrousel{
        height: 25vh;
        width: 80vw;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
    }


}

.button-arrow{
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.carrousel-buttons{
    display: flex;
    justify-content: space-evenly;
}

.inner {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 50vw;
    white-space: nowrap;
    transition: transform 0.3s;
}

/* 
     width: 900px;
    height: 400px;
*/

/* .carrousel{
    width: 50vw;
    overflow: hidden;
}

.carrousel .inner {
    display: flex;
    transition: transform 0.5s ease;
}
 */


/* 
    display: flex;
    flex-direction: column;
    justify-content: center; 
*/



/* .carrousel-item{
    height: 50vh;
    width: auto;
    padding: 0 20px 0 20px;
}
*/

/* 


 */